.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .header-left {
    flex: 1;
    background-color: white;
    border-style: hidden;
    margin-top: 30pt;
    font-size: larger;
    cursor: pointer;
    text-align: center;
    padding-right: 10pt;
    outline: 0;
  };
  .header-center {
    text-align: center;
    flex: 1;
    font-size: 40pt;
  };
  .header-right {
    flex: 1;
    .top {
      .btn {
        background-color: white;
        border-style: hidden;
        cursor: pointer;
        outline: 0;
      };
    };
    .bottom {
      .btn {
        background-color: white;
        border-style: hidden;
        margin-top: 30pt;
        font-size: larger;
        cursor: pointer;
        text-align: center;
        padding-right: 10pt;
        outline: 0;
      };
      .input {
        height: 15pt;
        width: 160pt;
        border-right: 0;
        border-top: 0;
        border-left: 0;
        outline: 0;
      };
    };
  };
}
